@charset "utf-8";
body {
  background-color: WhiteSmoke;
}

.item {
  background-color: AliceBlue;
  border-bottom: thin solid MidnightBlue;
}
.item:after {
  content: "";
  display: block;
  clear: both;
}
.message {
  float: left;
  margin-left: 20px;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  width: 100px;
  height: 50px;
}
.file {
  float: left;
  margin: 5px;
  width: 100px;
  height: 50px;

}
.board {
  float: left;
  margin: 5px;
  width: 100px;
  height: 50px;
  /**background-color:yellow;**/
}
.image__item {
  text-align: center;
}
.image__item img {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.box__background {
  background-color: AliceBlue;
}
.box__main {
  margin: 20px;
  background-color: white;
  border: thin solid #bfbfbf;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.box__kalendar {
  width: 50%;
  margin-left: 20px;
  margin-bottom: 20px;
}
