@charset "utf-8";
/* ========================================================== */
/*   ここから下はスタイルの初期化をしています                 */
/*   メニューとは関係ありません                               */
/*   ※ メニュー設定はもっと下にあります                      */
/* ========================================================== */
/* リセットcss */
* {
  margin     : 0;
  padding    : 0;
  box-sizing : border-box;
  color      : #444;
}

/* テーブルの初期化 */
.box_schedule_main table{
  border-collapse : collapse;
  border          : 2px solid #ccc;
  padding         : 10px;
}

.box_schedule_main td,th{
  text-align : left;
  border     : 2px solid #ccc;
  padding    : 10px;
}

p{
  padding: 10px 0;
}

/* イメージの初期化 */
p.img{
  text-align: center;
}

img{
  max-width : 100%;
  height    : auto;
}

/* リンク ホバー設定 */
ul a{
  color           : white;
  text-decoration : none;
}

ul li:hover{
  background : #333;
}

header{
  overflow    : hidden;
}

/*
h2{
  padding-top  : 20px;
  border-bottom: 2px #ccc solid;
}
*/

/* 中央のコンテナ設定 幅960px */
.container{
  max-width : 960px;
  margin    : 0 auto;
}

.bg-menu{
  background-color: #494949;
}

/* ========================================================== */
/*   ここから下がメニューの設定                               */
/* ========================================================== */

/* メニューのON/OFFを保存する為のチェックボックス 非表示 */
#menuOn{
  display : none
}

menu{
  content      : '\2261';/* ハンバーガーメニュー*/
  position    : relative;
  font-size   : 20px;
  line-height : 20px;
  height      : 40px;
  width       : 100%;
  min-width   : 200px;
  background  : #494949;
}

/* 隠しメニューを表示時のメニューの設定 */
/* absolute指定を行い、高さも与える     */
#menuOn:checked + menu{
  max-width : 960px;/*コンテナと同じ数値を指定しておく必要あり*/
  z-index   : 20;
}

/* オーバーレイ                                         */
/* 隠しメニューが表示されているときに                   */
/* LightBoxのように画面全体を覆うブロックを表示する     */
/* これによってメニュー部分を除いて                     */
/* 画面全体がチェックボックスへのクリックになるので     */
/* メニュー以外の部分をクリックするとメニューが閉じます */
#menuOn:checked + menu + div.overlay{
  position : fixed;
  top      :  0;
  bottom   :  0;
  left     :  0;
  right    :  0;
  z-index  : 10;
  background : rgba(0,0,0,0.5);
}

#menuOn:checked + menu ul{
  display: block;
}

ul{
  position: absolute;
  top    : 40px;
  right  : 0;
  display: none;
}

li{
  list-style-type : none;
  /* メニュー要素の背景色と合わせる*/
  background      : gray;
  min-width       :  105px;
  max-width       :  200px;
  white-space     : nowrap;
  text-overflow   : ellipsis;
}

li a{
  display       : block;
  padding       :  10px;
}

/* ハンバーガーメニュー */
menu::after {
  position     : absolute;
  z-index      : 30;
  display      : block;
  content      : '\2261';/* ハンバーガーメニュー*/
  line-height  : 40px;
  width        : 20px;
  padding-left : 10px;
  color        : white;
  right        :  0;
  top          :  0;
  background   : gray;
}

/* メニューを閉じる */
#menuOn:checked + menu::after {
  content : '×';/* 閉じるボタン */
}
