select {
  width: 150px;
  font-size: 18px;
}
input.startday, input.stopday {
  width: 200px;
  height: 30px;
  font-size: 18px;
}
.starttime, .stoptime {
  width: 150px;
  height: 30px;
  font-size: 18px;
}
.schedule {
  width: 500px;
  height: 30px;
  font-size: 18px;
}
.memo {
  width : 500px;
  height: 200px;
  font-size: 16px;
}
.action {
  width: 75px;
  height: 75px;
  font-size: 100px;
}
.select_Button {
  /*width: 100px;*/
  height: 200px;
  font-size: 16px;
}

.schedule__day {
  height: 100px;
  width: 90%;
  margin: auto;
  /*
  marginr-top: 100px;
  margin-left: 100px;
  */
}
.schedule__day dd {
  margin-left: 40px;
}
.schedule__day dt {
  margin-top: 10px;
}
.user__Box:after {
  content: "";
  display: block;
  clear: both;
}
.userButton {
  float: left;
  /*margin: 10px:*/
  margin: auto;
  margin-top: 20px;
}
.userSelect__Left {
  float: left;
  margin: 10px;
}
.userSelecct__Right {
  float: left;
  margin: 10px;
}
.schedule__info {
  font-size: 20px;
  color: gray;
  padding-left: 10px;
}
.schedule__content {
  padding-left: 10px;
  font-size: 20px;
}
